* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #0e0f0f;
  font-family: "Poppins", sans-serif;

}

.digital-marketing {
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 15pt;
  border: 5px solid wheat;

}



nav {
  position: absolute;
  width: 100%;
  display: flex;
  padding: 3rem 10rem;
  justify-content: space-between;

}

nav ul li {
  list-style-type: none;
  display: inline-block;
  text-decoration: none;

}

nav ul li a {
  text-decoration: none;
  color: beige;
  font-weight: bold;
  padding: 15px;
  right: 20%;
}

nav ul li a:hover {
  color: rgb(188, 129, 129);
  background-color: white;
}

.gf {
  font-weight: bold;
  font-family: cursive;
  color: aliceblue;
  background-color: red;
  border: 2px solid red;
  border-radius: 20px;
  animation: bounce 0.3s ease infinite alternate;

}


  


@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px #ccc,
      0 2px #ccc,
     0 3px #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}

.gf:nth-child(2) {
  animation-delay: 0.1s;
}

.gf:nth-child(3) {
  animation-delay: 0.2s;
}

.gf:nth-child(4) {
  animation-delay: 0.3s;
}

.gf:nth-child(5) {
  animation-delay: 0.4s;
}



.container {
  height: 100vh;
}

.container img {
  width: 100%;
  position: absolute;
  height: 110vh;
  object-fit: cover;
  z-index: -1;
}

.main-title {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 5.5rem;
  transform: translate(-30%, -15%);
  line-height: 0.8em;
  line-break: 3px;
  
  
  

}

.main-title span {
  color: rgb(232, 122, 122);
  margin: -10%;

}

/* h2{
  background-color: aqua;
} */

.content {
  width: 100%;
  /* background: rgb(85, 241, 241); */
  background-image: url(images/logos_bg.png);
  background-repeat: round;
  /* width: 600px;
  height: 200px; */
  min-height: 100vh;
  z-index: 2;
  position: absolute;
}

h2 {
  
  margin-left: 5%;
  color: blue;

  
}


.content-images {
  margin: 3.5% 0 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60vh;
  text-align: center;
}

.text {
  padding: 2rem 20rem;
  font-size: 1.1rem;
}